{% load static %}

<div class="navbar simple-navbar navbar-dark">
  <a class="navbar-brand" href="{% url 'index' %}" style="padding-bottom: 12px">
    <div class="logo-conn filter-white" title="Connected"></div>
    <div class="logo-health filter-pink" title="Health"></div>
  </a>
  {% if user.is_authenticated %}
    <div class="nav-menu">
      <div class="nav-item">
        <a href="{% url 'gdw_home' %}">Home</a>
      </div>
    </div>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link d-flex align-items-center" data-toggle="dropdown"
           aria-expanded="false" style="padding: 0 0 4px 0!important;">
          <img {% if user and user.userprofile.image %}
            src="{{ user.userprofile.image.url }}"
          {% else %}
            src="{% static 'main/avatar_1x.png' %}"
          {% endif %}
            id="navbar-avatar" class="navbar-avatar rounded-circle mr-2" alt="{{ user.username }}">
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="{% url 'gdw_home' %}" class="dropdown-item"><span class="material-symbols-outlined mr-1">person</span> {{ user.username }}</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'profile' %}" class="dropdown-item"><span class="material-symbols-outlined mr-1">settings</span> Profile</a>
          <a href="{% url 'password_change' %}" class="dropdown-item"><span class="material-symbols-outlined mr-1">password</span> Password</a>
          <a href="{% url 'logout' %}" class="dropdown-item"><span class="material-symbols-outlined mr-1">logout</span> Logout</a>
        </div>
      </li>
    </ul>
  {% endif %}
</div>
