{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset Done{% endblock %}

{% block body_class %}app-font navbar-fixed navbar-md{% endblock %}

{% block content_class %}block-content mt-navbar theme-07{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-12">
            <div class="row mw-500 mx-auto card theme-00">
                <div class="card-header mb-2 theme-00">
                    <div class="col-12 text-center user-header">Password reset email sent</div>
                </div>
                <div class="col-12 mb-2 text-white">
                    Check your inbox. We've emailed you instructions for setting your password.
                    You should receive the email shortly!
                </div>
                <div class="col-12 mb-2 text-white">
                    Didn't receive your email? <a href="{% url 'password_reset' %}">Resend password reset email.</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}