{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Password Changed{% endblock %}

{% block content_class %}block-content mt-navbar theme-07{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-12">
            <div class="row mw-500 mx-auto card theme-00">
                <div class="card-header mb-2 theme-00">
                    <div class="text-center user-header">Password change successful</div>
                </div>
                <div class="col-12 mb-2 text-white">
                    Your password was changed.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}