{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}

{% block body_class %}app-font navbar-fixed navbar-md{% endblock %}

{% block content_class %}block-content mt-navbar theme-07{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-12">
            <div class="row mw-500 mx-auto card theme-00">
                <div class="card-header mb-2 theme-00">
                    <div class="text-center user-header">Reset your password</div>
                </div>
                <div class="col-12 mb-2 text-white">
                    Enter your email address and we will send you a link to reset your password.
                </div>
                <div class="col-12 mb-2">
                    <form method="post" autocomplete="off" novalidate>
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            {% if form.is_bound %}
                            {% if field.errors %}
                            {% render_field field class="form-control is-invalid" placeholder=field.name %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% else %}
                            {% render_field field class="form-control is-valid" placeholder=field.name %}
                            {% endif %}
                            {% else %}
                            {% render_field field class="form-control" placeholder=field.name %}
                            {% endif %}

                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <button type="submit" class="btn theme-04 mt-3 full-width">Send password reset email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}