{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset Done{% endblock %}

{% block content_class %}block-content mt-navbar theme-07{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-12">
            <div class="row mw-500 mx-auto card theme-00">
                <div class="card-header mb-2 theme-00">
                    <div class="col-12 text-center user-header">Password Is Set</div>
                </div>
                <div class="col-12 mb-2 text-white">
                    Your password has been set. You may go ahead and log in now.
                </div>
                <div class="col-12 mb-2">
                    <a href="{% url 'auth' %}">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}