{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Password Change{% endblock %}

{% block content_class %}block-content mt-navbar theme-07{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-12">
            <div class="row mw-500 mx-auto card theme-00">
                <div class="card-header mb-2 theme-00">
                    <div class="text-center user-header">Password change</div>
                </div>
                <div class="col-12 mb-2">
                    <form method="post" autocomplete="off" novalidate>
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            {% if form.is_bound %}
                            {% if field.errors %}
                                {% if field.name == 'new_password1' or field.name == 'password1' %}
                                    {% render_field field class="password_strength form-control is-invalid" placeholder="New password" %}
                                {% elif field.name == 'new_password2' or field.name == 'password2' %}
                                    {% render_field field class="password_confirmation form-control is-invalid" placeholder="Confirm new password" %}
                                {% else %}
                                    {% render_field field class="form-control is-invalid"  placeholder=field.label %}
                                {% endif %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% else %}
                                {% if field.name == 'new_password1' or field.name == 'password1' %}
                                    {% render_field field class="password_strength form-control is-valid" placeholder="New password" %}
                                {% elif field.name == 'new_password2' or field.name == 'password2' %}
                                    {% render_field field class="password_confirmation form-control is-valid" placeholder="Confirm new password" %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" placeholder=field.label %}
                                {% endif %}
                            {% endif %}
                            {% else %}
                                {% if field.name == 'new_password1' or field.name == 'password1' %}
                                    {% render_field field class="password_strength form-control" placeholder="New password" %}
                                {% elif field.name == 'new_password2' or field.name == 'password2' %}
                                    {% render_field field class="password_confirmation form-control" placeholder="Confirm new password" %}
                                {% else %}
                                    {% render_field field class="form-control" placeholder=field.label %}
                                {% endif %}
                            {% endif %}

                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <button type="submit" class="btn theme-04 mt-3 full-width">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block localscripts %}
    {{ form.media }}
{% endblock %}