{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block title %}View{% endblock %}

{% block main_class %}app-body{% endblock %}
{% block content %}
<div class="main" id="main">
    <ol class="statusbar">
        <li class="statusbar-item">
            <div class="d-table h-100">
                <div class="d-table-cell align-middle font-md fw-500">
                    Communications
                </div>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        {% include 'msgs/view_body.html' %}
    </div>
</div>
{% endblock %}

{% block localscripts %}
{% include 'msgs/view_scripts.html' %}
{% endblock %}