{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.history.js' %}" class="view-script"></script>
<script>
    (function () {

        function AJAXUpdateInbox(url) {
            $.get(url, function (results) {
                var tbody = $('div.table-inbox > div.msg-body', results);
                var pagination = $('#inbox-pagination-content', results);
                $('div.table-inbox').html(tbody);
                $('#inbox-pagination').html(pagination);
            }, 'html');
        }

        function refreshPage() {
            location.reload(true);
        }

        $('#chk-all').on('click', function () {
            $('#chk-all-read').prop('checked', false);
            $('#chk-all-unread').prop('checked', false);
            var rows = $('.msg-row');
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#chk-all-read').on('click', function () {
            $('#chk-all').prop('checked', false);
            $('#chk-all-unread').prop('checked', false);
            var rows1 = $('.msg-row.unread');
            $('input[type="checkbox"]', rows1).prop('checked', false);
            var rows2 = $('.msg-row.read');
            $('input[type="checkbox"]', rows2).prop('checked', this.checked);
        });

        $('#chk-all-unread').on('click', function () {
            $('#chk-all').prop('checked', false);
            $('#chk-all-read').prop('checked', false);
            var rows1 = $('.msg-row.read');
            $('input[type="checkbox"]', rows1).prop('checked', false);
            var rows2 = $('.msg-row.unread');
            $('input[type="checkbox"]', rows2).prop('checked', this.checked);
        });

        $('#move-to-trash').on('click', function () {
            var rows = $('.msg-row');
            var checked = $('input[type="checkbox"]:checked', rows);
            if (checked.length) {
                var msgIds = '';
                checked.each(function () {
                    msgIds = msgIds + $(this).attr('value') + ',';
                });
                msgIds = msgIds.slice(0, -1);
                if (msgIds) {
                    var url = '/messages/move-to-trash/' + msgIds + '/';
                    var csrftoken = getCookie('csrftoken');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        headers: { 'X-CSRFToken': csrftoken },

                        success: function (json) {
                            if (json.success) {
                                var url2 = '/messages/inbox/';
                                AJAXUpdateInbox(url2);
                            } else {
                                console.log(json.error);
                            }
                        },

                        error: function (xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                }
            }
        });

        $('#move-to-inbox').on('click', function () {
            var rows = $('.msg-row');
            var checked = $('input[type="checkbox"]:checked', rows);
            if (checked.length) {
                var msgIds = '';
                checked.each(function () {
                    msgIds = msgIds + $(this).attr('value') + ',';
                });
                msgIds = msgIds.slice(0, -1);
                if (msgIds) {
                    var url = '/messages/move_to_inbox/' + msgIds + '/';
                    var csrftoken = getCookie('csrftoken');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        headers: { 'X-CSRFToken': csrftoken },

                        success: function (json) {
                            if (json.success) {
                                var url2 = '/messages/trash/';
                                AJAXUpdateInbox(url2);
                            } else {
                                console.log(json.error);
                            }
                        },

                        error: function (xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                }
            }
        });

        /*
        var History = window.History;
        if ( !History.enabled ) {
            // History.js is disabled for this browser.
            // This is because we can optionally choose to support HTML4 browsers or not.
            return false;
        }
        */

        // Bind to StateChange Event
        History.Adapter.bind(window, 'statechange', function () {
            var State = History.getState();
            AJAXUpdateInbox(State.url);
        });

        // Read messages
        $('div.table-inbox .msg-row').click(function (e) {
            //e.preventDefault();

            if (e.target.tagName == 'INPUT') {
                // Do nothing
            } else if (e.target.tagName == 'I') {
                if ($(e.target).hasClass('inbox-started')) {
                    $(e.target).removeClass('inbox-started');
                } else {
                    $(e.target).addClass('inbox-started');
                }
            } else {
                // Update the message status in session storage in case of going backward to inbox
                if ($(this).hasClass('unread')) {
                    sessionStorage.setItem($(this).attr('href'), $('#new-msg-count').text());
                }
                window.location = $(this).attr('href');
            }
            //return false;
        });


        $('div.table-inbox .msg-row').each(function () {
            if (sessionStorage.getItem($(this).attr('href')) !== null) {
                $(this).removeClass('unread')
                    .addClass('read');
                // Update the new message count
                //var count = $('#new-msg-count').text() - 1;
                //$('#new-msg-count').text(count);
                // Remove it in sessionStorage
                sessionStorage.removeItem($(this).attr('href'));
            }
        });

        $('#inbox-prev').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            AJAXUpdateInbox(url);
            //window.history.back();
            History.back();
        });
        $('#inbox-next').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            AJAXUpdateInbox(url);
            //window.history.pushState({href: url}, '', url);
            History.pushState({ href: url }, '', url);
        });

        $(document).ajaxStop(function () {

            // Read messages
            $('div.table-inbox .msg-row').click(function (e) {
                //e.preventDefault();

                if (e.target.tagName == 'INPUT') {
                    // Do nothing
                } else if (e.target.tagName == 'I') {
                    if ($(e.target).hasClass('inbox-started')) {
                        $(e.target).removeClass('inbox-started');
                    } else {
                        $(e.target).addClass('inbox-started');
                    }
                } else {
                    // Update the message status in session storage in case of going backward to inbox
                    if ($(this).hasClass('unread')) {
                        sessionStorage.setItem($(this).attr('href'), $('#new-msg-count').text());
                    }
                    window.location = $(this).attr('href');
                }
                //return false;
            });

            $('div.table-inbox .msg-row').each(function () {
                if (sessionStorage.getItem($(this).attr('href')) !== null) {
                    $(this).removeClass('unread')
                        .addClass('read');
                    // Update the new message count
                    //var count = $('#new-msg-count').text() - 1;
                    $('#new-msg-count').text(count);
                    // Remove it in sessionStorage
                    sessionStorage.removeItem($(this).attr('href'));
                }
            });

            $('#inbox-prev').on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                AJAXUpdateInbox(url);
                //window.history.back();
                History.back();
            });

            $('#inbox-next').on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                AJAXUpdateInbox(url);
                //window.history.pushState({href: url}, '', url);
                History.pushState({ href: url }, '', url);
            });

        });

        window.refreshPage = refreshPage;

    }());
</script>