<footer class="page-footer font-small">

    <div class="footer-theme">
        <div class="footer-container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-md-left">
                    <h6 class="mb-0 ms-3">The Digital Health</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4 mx-auto">
                <h6 class="text-uppercase font-weight-bold">The Digital Health Team</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>We're part of <a href="https://nursing.fsu.edu">College of Nursing at Florida State University</a>.
                    We Advance integration of smart and connected clinical care and
                    smart and connected health home.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Partners</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#">FSU</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">FSU</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">FSU</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">About Digital Health</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="https://nursing.fsu.edu">College of Nursing at FSU</a></p>
                <p><a href="{% url 'contact_us' %}">Contact Us</a></p>
            </div>

        </div>

    </div>

    <div class="footer-copyright text-center text-black-50 py-3">© 2018-{% now "Y" %} Copyright:
        <a class="text-black-50" href="{% url 'about_us' %}">The Digital Health</a>
    </div>

</footer>